
/*------login--------*/
html {
  height: 100%;
  overflow-y: hidden;
}
body {
  min-height: 100%;
}
.signinStyle {
	border-right:1px solid #d9d9d9;
	/* box-shadow: 10px 0px 15px -8px rgba(115,115,115,0.7); */
}
.fullView
{
	height: 100vh !important;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.rowHeight {
	height: 180px;
	padding: 10px 0;
	border-bottom: 1px solid #d9d9d9;
}
.carousel {
	width: 100%;
	height: 150px;
}
.carousel-item {
	object-fit: fill;
	width: 250px !important;
	height: 250px !important;
	top: 12px !important;
}
.sixImage {
	object-fit:cover !important;
	overflow:hidden !important;
	height:150px !important;
}
.bg {
	height: 100vh;
	/* background-color: #e6e6e6; */
	background-image: url("../images/login/6-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.BGerror {
	background-color: #e6e6e6;
}
p a {
	color: #1e88e5;
}
.subContainer {
	/*background-color: rgba(255,255,255, 0.9);*/
	display: block;
	text-align: center;
	padding: 20px;
	border-radius: 5px;
}



@media only screen and (max-width : 992px) {
	#small {
		width: 100%;
		height: 100%;
	}
	#container-2 {
		margin: 15% auto 0;
	}
}

@media only screen and (min-width: 1550px) and (max-width : 1920px) {
	.rowHeight {
		height: 280px;
		padding: 10px 0;
		border-bottom: 1px solid #d9d9d9;
	}
	.carousel-item {
		object-fit: fill;
		width: 350px !important;
		height: 280px !important;
		top: 45px !important;
	}
	.carousel {
		width: 100%;
		height: 240px;
	}
	.sixImage {
		object-fit:cover !important;
		overflow:hidden !important;
		height:250px !important;
	}
}


