html {
  	height: 100%;
}
body {
  	min-height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

hr {
	margin-bottom:20px;
}

.container1 {
	padding: 20px 10px;
	margin: 20px 50px 0;
}

.modalBttnlogin {
	color:#0e0e0e;
	text-decoration:underline;
	cursor:pointer;
}
#chgePassModal {
	    height: 416px !important;
	    width: 450px;
}
/* latin-ext */
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Staatliches Regular'), local('Staatliches-Regular'), url(https://fonts.gstatic.com/s/staatliches/v3/HI_OiY8KO6hCsQSoAPmtMYeVvpCNOw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Staatliches Regular'), local('Staatliches-Regular'), url(https://fonts.gstatic.com/s/staatliches/v3/HI_OiY8KO6hCsQSoAPmtMYebvpA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Collapsible body starts here*/
.collapsible li.active i.arrowRotate {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.rotate {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.collapsible-header {
  justify-content: space-between;
}
.collapsibleIcon {
  justify-content: space-between;
}
.bodyContent {
	padding: 10px;
}
.noMargin {
	margin: 0;
	padding-top:3px;
}

/* loader */
.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}
.preloader-background p {
	padding-top:120px;
    margin-left: -60px;
    opacity: 0.8;
}
.fixSizeimg {
	max-width:300px;
	max-height: 300px;
	overflow: hidden;
}
.imgPos {
	position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width:300px;
	max-height: 300px;
	overflow: hidden;
}
/* Ordering question */
.sortBorder ul li {
	margin-bottom: 10px !important;
}
.sortItem{
	padding: 5px 20px;
	border: 1px solid #d6d6c2;
	border-radius: 5px;
	width: 450px !important;
	text-align: center;
}
/* nav bar */
.navbar, .navbarTrainee {
	width: 100%;
	background-color: #1e88e5;
 	overflow: auto;
 	padding: 10px 2px 0;
 	border-radius: 5px !important;
}
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  font-size: 17px;
  width: 20%; /* Four links of equal widths */
  text-align: center;
}
.navbarTrainee a {
  float: left;
  padding: 12px;
  color: white;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}
.navbar a:hover, .navbarTrainee a:hover {
  	background-color: #fff;
	color: #1e1e1e;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.navbar a.active, .navbarTrainee a.active {
	background-color: #fff;
	color: #1e1e1e;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.compname {
	font-family: 'Staatliches', cursive;
	color: #1e88e5;
	font-size: 20px;
}
/*menu style starts here*/
nav .sidenav-trigger {
	margin: 0;
	padding: 0;
}
.sidenav li a{
	color: #868E94 !important;
	font-size: 12px !important;
	padding: 0 15px;
}
.sidenav a:hover{
	background-color: #E0F3FD !important;
	color: #4872DA !important;
}
.sidenav li.active {
	background-color: #E0F3FD !important;
	color: #4872DA !important;
	font-weight: bold;
}
.sidenav-overlay {
	z-index: 1 !important;
}
/*menu style ends here*/


.inputStyle {
	width:50px !important;
	height:25px !important;
	margin:0 !important;
}
.inputPass {
	height:35px !important;
}
/* sortable UL */
#sortable li {
	background-color: #fff !important;
	border-color: #fff !important;
	padding: 0 !important;
}
#sortable input {
	margin-bottom: 0 !important;
}
.orderingAnswerTxtBox {
	height: 30px !important;
}
/* drop down text color */
.select2-results__options li {
	color: #1e1e1e !important;
}
span.selectHeight .select2 {
	height: 35px;
	width:70px !important;
}
span.selectWidth .select2 {
	width:70px !important;
	height: 36px;
	margin-top:10px;
	margin-right: 3px;
}
span.selectMargin .select2 {
	width:70px !important;
	height: 30px;
	margin-top: 16px;
	margin-right: 3px;
	margin-left: 5px;
}
span.selectMarginOnly .select2 {
	margin-top: 5px;
}
.styleWidth {
	height: 25px !important;
	width: 120px !important;
	margin-right: 3px;
}
.spanWidth {
	height: 25px !important;
	width: 40px !important;
	margin-right: 5px;
	text-align:center;
	text-transform: uppercase;
}
select.selectWidthStyle {
	width:70px !important;
	height: 40px;
	margin-top:0;
	margin-right: 3px;
}

.container2 {
	padding-top: 10px;
	padding-left: 290px;
	padding-right: 20px;
	margin-bottom:0;
}

#content {
  padding: 20px;
}


.numberOnly {
	height: 30px !important;
	margin-bottom: 0 !important;
	text-align: center !important;
}


/*texteditor*/
#editor {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
}
.editorgroup {
	background-color: #f5f5f5;
	padding: 5px;
}
.custombtn {
	padding: 5px 5px 0;
}
#editorarea {
	width: 100%;
	margin-top: 5px;
	resize: none;
	height: 150px;
	padding: 5px;
}


#searchJobRole, 
#searchExamTxtBox, 
#searchCourse, 
#searchEvalTxtbox, 
#searchIPAddress, 
#searchCourseInfoTbl, 
#searchexistingexam, 
#searchLocation, 
#userSearchTxt, 
#searchTopicDifficultyTxtBox, 
#searchTrainingCategory, 
#searchUserGroup, 
#searchExam,
#searchTrainingHistory {
	margin: 0;
	border: 1px solid #6B6B6B;
	border-radius: 20px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	padding-right: 0 !important;
}

.switch label .lever {
	margin-top: 20px;
	margin-left: 0 !important;
}
.switch label input[type=checkbox][disabled]:checked+.lever:after {
	background-color: #1e88e5;
}
.switch label input[type=checkbox]:checked+.lever:after, .switch label input[type=checkbox]:checked+.lever:after {
	background-color: #1e88e5;
}
.switch label input[type=checkbox]:checked+.lever {
	background-color: #5faaec;
}


/*User group status starts here*/
#createusergrpstatus {
	margin-top: 20px;
}

/*div card*/
.divcard {
	margin-bottom: 25px;
	background-color: #FEFEFE;
	padding: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(169,169,169,0.66);
	-moz-box-shadow: 0px 0px 10px 2px rgba(169,169,169,0.66);
	box-shadow: 0px 0px 10px 2px rgba(169,169,169,0.66);
}


/*table page*/
ul.pagination{
	text-align: center;
	padding: 15px 0 0;
	margin:0;
	vertical-align: middle;
}
#pagealign {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.pagination li.active a {
	color: #1e88e5;
	background-color: #fff;
} 

.row{
	margin-bottom: 0;
}

.bttn, .fc-button-primary{
	background-color: #1e88e5 !important;
}
a.bttn i {
	margin-right: 15px !important;
}
.fc-prev-button, .fc-next-button {
	background-color: #1e88e5 !important;
}
.fc-icon {
	color: #fff;
}

/* card */
.card-fab {
	position: relative;
    z-index: 1;
}
.card {
/* 	border-radius:50%; */
	padding:5px;
}
.card-image {
/* 	border-radius:50%; */
	max-width:200px;
	max-height: 200px !important;
	margin: auto;
	overflow:hidden;
}
.fixImg {
	width: 200px;
	height: 200px;
	overflow: hidden;
	object-fit: cover;
}
.fixSmallImg {
	width: 50px;
	height: 50px;
	overflow: hidden;
	object-fit: contain;
}
ol.SpaceBttm li {
	margin-bottom: 20px;
}

/*scroll bar*/
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #ddd; 
}

::-webkit-scrollbar-track {
  background: #fff; 
}



/*nav*/
.nav-wrapper .input-field input[type=search] {
	height: inherit;
    padding-left: 1.8em;
    width: calc(100% - 1.8rem);
    padding-top:3px;
    padding-bottom: 3px;
}
.nav-wrapper a.profset {
	height: 64px;
    padding: 7px 15px;
}
#navpad{
	padding-top:5px;
}

.sidenav li>a>i, .sidenav li>a>[class^="mdi-"], .sidenav li>a li>a>[class*="mdi-"], .sidenav li>a>i.material-icons {
	margin: 0 15px 0 0 !important;
	color: #868E94;
	font-size: 20px;
}
.sidenav {
	background-color: #FEFEFE !important;
	width: 20%;
	margin-top: 65px;
	padding: 10px 10px 50px 10px !important;
	height: 100vh;
	z-index: 2;
}
.mymenu li a{
	color: #868E94 !important;
	font-size: 12px !important;
	padding: 0 15px;
}
.mymenu a:hover{
	background-color: #E0F3FD !important;
	color: #4872DA !important;
}
.mymenu li.active {
	background-color: #E0F3FD !important;
	color: #4872DA !important;
	font-weight: bold;
}

nav {
	background-color: #ffffff  !important;
	box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}

nav .material-icons{
	color: #000;
}


ul.sidenav.sidenav-fixed ul.collapsible-accordion .collapsible-body li a {
	padding: 0 30px 0 30px !important;
}
.sidenav .collapsible-body>ul:not(.collapsible)>li.active a, .sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active a {
	background-color: #E0F3FD !important;
	color: #4872DA !important;
	font-weight: bold;
}


/*icons size*/
.orderingicons i{
	padding-top: 15px;
}



/*sorting arrow up and down*/
th a.sort-by { 
	padding-right: 18px;
	position: relative;
}
a.sort-by:before,
a.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
a.sort-by:before {
	border-bottom-color: #039be5;
	margin-top: -9px;
}
a.sort-by:after {
	border-top-color: #039be5;
	margin-top: 1px;
}

.file-field .file-path-wrapper {
	margin: 0 !important;
	padding-left: 0 !important;
	padding-right: 10px !important;
	padding-top: 6px;
}

/*floating button in image*/
.btn-floating.halfway-fab {
	right: 5px !important;
}

/*Profile*/
#profile {
	width: 50px;
	height: 50px;
	object-fit: cover;
}
a.left .hide-on-med-and-down {
	height: 64px;
}
i {
	margin-right:0 !important;
}
.divcontrol {
	justify-content: space-between;
	display: flex;
}
.mydivs {
	/* height:300px; */
	margin-top: 20px;
}
.mydivs>div {
	height:100%;
    overflow-y:auto;
    padding:1em;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.formstyle {
	margin-top: 20px;
}
form.formstyle label span {
	color: #1e1e1e;
}

*td [type="radio"]+span:before

/*sortable drag starts here*/
#sortable { 
	list-style-type: none; 
	margin: 20px 0 0 0; 
	padding: 0; 
	width: 60%; 
}
#sortable li { 
	margin: 3px 3px 3px 3px;
	padding: 10px;
	background-color: #f1f1f1;
	border: 1px solid #aeaeae;
	border-radius: 5px;
}
#sortable li span{ 
	font-size: 1.4em; 
}
/*sortable drag ends here*/

/*modal*/
.evalSize {
	max-height: 40%;
  	width: 35%;
}
.modalQuestion {
	position: absolute;
	height: calc(100% - 50px) !important;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 24px;
}
.modal-footer i, div .right button i{
	margin-right: 15px !important;
}
.content-row:last-child {
  border-bottom: none;
}
.modal {
  overflow-y: hidden;
  height: 100vh !important;
}
.modal-content{
  height: calc(100% - 120px) !important;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
}
.modal-header h5 {
	margin: 0 !important;
}
.modal-footer {
  background-color: #f2f2f2 !important;
}
.moveModal{
	max-height: 50%;
}
.addSection {
	max-height: 70%;
}
.TDmodal {
	height: 60% !important;
}



/*table*/
.min {
	width: 12%;
}
.mins {
	width: 10%;
}
.mid {
	width: 20%;
}
.midl {
	width: 25%; 
}
.large {
	width: 50%;
}


table thead th, table tbody td {
	text-align: center;
}

td,th {
	padding: 5px;
}


table tbody {
	width: auto;
}

h4 {
	margin: 20px 0 0 0 !important;
	color: #1e88e5;
	font-family: 'Staatliches', cursive;
}
h5 {
	color: #1e88e5;
	font-family: 'Staatliches', cursive;
}

::placeholder 
{
	color: #6B6B6B;
}

/*Select option*/
.dropdown-content li>span {
	color: #1e1e1e !important;
}

/* dropdown content */
#dropOption2 {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 400px; /* Changed this to accomodate content width */
  max-height: 400px;
  margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow-y: auto; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}
.notification-badge {
    position: relative;
    bottom: 15px;
	left: 15px;
    color: #fff;
    background-color: #1E88E5;
    padding: 5px 9px;
	border-radius: 50%;
}
.notif {
	position: absolute;
}
li.collection-item>p {
	white-space:normal;
}
#dropOption li>span, #dropOption2 li>span {
	padding: 0 !important;
}

/*class for addquestion checkbox*/
.pchck {
	margin: 0;
	padding: 15px 5px 0 0;
}
.pchck span {
	color: #000;
	font-size: 15px !important;
	font-weight: bold;
}
.checkStyle::before {
	margin-top: 7px !important;
}

/*fieldset for question search filter*/
legend {
	font-size: 20px !important;
}
fieldset {
	padding: 20px;
}

.buttonright {
	margin-top: 20px !important;
}




@media only screen and (max-width : 1440px) and (min-width: 1400px) {
	.sidenav {
	  width: 19%;
	  margin-top: 0 !important;
	  padding-top: 70px !important;
	}
}

@media only screen and (max-width : 992px) and (min-width: 700px) {
	.container2 {
		padding: 10px;
	}
	#add-location {
		width: 100%;
	}
	/*Material icon*/
	.iconfont {
		font-size: 17px;
	}
	.sidenav {
		width: 35%;
		z-index: 4;
		margin-top: 0 !important;
		padding-top: 70px !important;
	}
	#createusergrpstatus {
		margin-top: 0;
	}
	/**.input-field {
		display: none;
	}**/
	#restable li{
		padding: 20px;
	}
	#restable{
		display: none;
	}
	.sidenav-overlay {
		z-index: 2 !important;
	}
}

@media only screen and (max-width : 700px) and (min-width : 300px){
	.sidenav {
	  width: 70%;
	  z-index: 4;
	  margin-top: 0 !important;
	  padding-top: 70px !important;
	}
	/*Material icon*/
	.iconfont {
		font-size: 17px;
	}
	.container2 {
	   padding: 10px;
	}
	#restable li{
		padding: 20px;
	}
	#restable{
		display: none;
	}
	#createusergrpstatus {
		margin-top: 0;
	}
	/**.input-field {
		display: none;
	}**/
	.card{
		width: 200px;
		height: 200px;
		text-align: center;
		display: inline-block;
	}

	.sidenav-overlay {
		z-index: 2 !important;
	 }
}

@media only screen and (max-width : 600px) {
	h4 {
	  	text-align: center;
	}
	#left-option, #right-option {
		padding-left: 0 ;
	}
}

@media only screen and (max-width : 1019px) and (min-width: 1000px) {
	.sidenav {
		width: 28%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:136px;
		max-height: 136px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 136px;
		height: 136px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1070px) and (min-width: 1020px) {
	.sidenav {
		width: 27%;
	}
	.container2 {
		padding-left: 303px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:148px;
		max-height: 148px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 148px;
		height: 148px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1100px) and (min-width: 1071px) {
	.sidenav {
		width: 27%;
	}
	.container2 {
		padding-left: 309px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:154px;
		max-height: 154px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 154px;
		height: 154px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1120px) and (min-width: 1101px) {
	.sidenav {
		width: 25%;
	}
	.container2 {
		padding-left: 305px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:160px;
		max-height: 160px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 160px;
		height: 160px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1150px) and (min-width: 1121px) {
	.sidenav {
		width: 25%;
	}
	.container2 {
		padding-left: 310px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:165px;
		max-height: 165px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 165px;
		height: 165px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1199px) and (min-width: 1151px) {
	.sidenav {
		width: 25%;
	}
	.container2 {
		padding-left: 313px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:177px;
		max-height: 177px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 177px;
		height: 177px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1220px) and (min-width: 1200px) {
	.sidenav {
		width: 23%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:185px;
		max-height: 185px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 185px;
		height: 185px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1250px) and (min-width: 1221px) {
	.sidenav {
		width: 22%;
	}
	.container2 {
		padding-left: 295px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:194px;
		max-height: 194px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 194px;
		height: 194px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1299px) and (min-width: 1251px) {
	.sidenav {
		width: 22%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:205px;
		max-height: 205px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 205px;
		height: 205px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1320px) and (min-width: 1300px) {
	.sidenav {
		width: 22%;
	}
	.container2 {
		padding-left: 310px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:203px;
		max-height: 203px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 203px;
		height: 203px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1500px) and (min-width: 1441px) {
	.sidenav {
		width: 19%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:300px;
		max-height: 300px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 300px;
		height: 300px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1530px) and (min-width: 1501px) {
	.sidenav {
		width: 18%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:300px;
		max-height: 300px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 300px;
		height: 300px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1599px) and (min-width: 1531px) {
	.sidenav {
		width: 18%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:300px;
		max-height: 300px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 300px;
		height: 300px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1697px) and (min-width: 1600px) {
	.sidenav {
		width: 17%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:300px;
		max-height: 300px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 300px;
		height: 300px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1709px) and (min-width: 1698px) {
	.sidenav {
		width: 16%;
	}
	.container2 {
		padding-left: 295px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:300px;
		max-height: 300px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 300px;
		height: 300px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1797px) and (min-width: 1710px) {
	.sidenav {
		width: 16%;
	}
	.container2 {
		padding-left: 305px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:300px;
		max-height: 300px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 300px;
		height: 300px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1810px) and (min-width: 1798px) {
	.sidenav {
		width: 15%;
	}
	.container2 {
		padding-left: 290px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:345px;
		max-height: 345px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 345px;
		height: 345px;
		overflow: hidden;
		object-fit: cover;
	}
}
@media only screen and (max-width : 1899px) and (min-width: 1811px) {
	.sidenav {
		width: 14%;
	}
	.container2 {
		padding-left: 290px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:365px;
		max-height: 365px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 365px;
		height: 365px;
		overflow: hidden;
		object-fit: cover;
	}
}
@media only screen and (max-width : 1920px) and (min-width: 1900px) {
	.sidenav {
		width: 14%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:370px;
		max-height: 370px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 370px;
		height: 370px;
		overflow: hidden;
		object-fit: cover;
	}
}
@media only screen and (max-width : 1999px) and (min-width: 1921px) {
	.sidenav {
		width: 14%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:370px;
		max-height: 370px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 370px;
		height: 370px;
		overflow: hidden;
		object-fit: cover;
	}
}

/*height responsive*/
@media only screen and (max-height : 709px) and (min-height: 670px) {
	#partModal,
	#addSectionModal 
	#editJobRoleModal,
	#saveJobRoleModal,
	#locationModal,
	#editLocationModal,
	#saveCategoryModal,
	#editCategoryModal {
		height: calc(65% - 58px) !important;
	}
	#addMember {
		height: calc(73% - 58px) !important;
	}
	#moveMembers,
	#ipModal {
		height: calc(46% - 58px) !important;
	}
}
@media only screen and (max-height : 749px) and (min-height: 710px) {
	#partModal,
	#addSectionModal 
	#editJobRoleModal,
	#saveJobRoleModal,
	#locationModal,
	#editLocationModal,
	#saveCategoryModal,
	#editCategoryModal {
		height: calc(61% - 58px) !important;
	}
	#addMember {
		height: calc(70% - 58px) !important;
	}
	#moveMembers,
	#ipModal {
		height: calc(43% - 58px) !important;
	}
}
@media only screen and (max-height : 789px) and (min-height: 750px) {
	#partModal,
	#addSectionModal 
	#editJobRoleModal,
	#saveJobRoleModal,
	#locationModal,
	#editLocationModal,
	#saveCategoryModal,
	#editCategoryModal {
		height: calc(58% - 58px) !important;
	}
	#addMember {
		height: calc(67% - 58px) !important;
	}
	#moveMembers,
	#ipModal {
		height: calc(40% - 58px) !important;
	}
}
@media only screen and (max-height : 829px) and (min-height: 790px) {
	#partModal,
	#addSectionModal 
	#editJobRoleModal,
	#saveJobRoleModal,
	#locationModal,
	#editLocationModal,
	#saveCategoryModal,
	#editCategoryModal {
		height: calc(55% - 58px) !important;
	}
	#addMember {
		height: calc(64% - 58px) !important;
	}
	#moveMembers,
	#ipModal {
		height: calc(40% - 58px) !important;
	}
}
@media only screen and (max-height : 879px) and (min-height: 830px) {
	#partModal,
	#addSectionModal 
	#editJobRoleModal,
	#saveJobRoleModal,
	#locationModal,
	#editLocationModal,
	#saveCategoryModal,
	#editCategoryModal {
		height: calc(52% - 58px) !important;
	}
	#addMember {
		height: calc(61% - 58px) !important;
	}
	#moveMembers,
	#ipModal {
		height: calc(37% - 58px) !important;
	}
}
@media only screen and (max-height : 909px) and (min-height: 880px) {
	#partModal,
	#addSectionModal 
	#editJobRoleModal,
	#saveJobRoleModal,
	#locationModal,
	#editLocationModal,
	#saveCategoryModal,
	#editCategoryModal {
		height: calc(49% - 58px) !important;
	}
	#addMember {
		height: calc(58% - 58px) !important;
	}
	#moveMembers,
	#ipModal {
		height: calc(33% - 58px) !important;
	}
}
@media only screen and (max-height : 949px) and (min-height: 910px) {
	#partModal,
	#addSectionModal 
	#editJobRoleModal,
	#saveJobRoleModal,
	#locationModal,
	#editLocationModal,
	#saveCategoryModal,
	#editCategoryModal {
		height: calc(47% - 58px) !important;
	}
	#addMember {
		height: calc(55% - 58px) !important;
	}
	#moveMembers,
	#ipModal {
		height: calc(32% - 58px) !important;
	}
}
@media only screen and (max-height : 1019px) and (min-height: 950px) {
	#partModal,
	#addSectionModal 
	#editJobRoleModal,
	#saveJobRoleModal,
	#locationModal,
	#editLocationModal,
	#saveCategoryModal,
	#editCategoryModal {
		height: calc(45% - 58px) !important;
	}
	#addMember {
		height: calc(52% - 58px) !important;
	}
	#moveMembers,
	#ipModal {
		height: calc(32% - 58px) !important;
	}
}
@media only screen and (max-height : 1080px) and (min-height: 1020px) {
	#partModal,
	#addSectionModal, 
	#editJobRoleModal,
	#saveJobRoleModal,
	#locationModal,
	#editLocationModal,
	#saveCategoryModal,
	#editCategoryModal {
		height: calc(42% - 58px) !important;
	}
	#addMember {
		height: calc(48% - 58px) !important;
	}
	#moveMembers,
	#ipModal {
		height: calc(30% - 58px) !important;
	}
}