/* latin-ext */
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Staatliches Regular'), local('Staatliches-Regular'), url(https://fonts.gstatic.com/s/staatliches/v3/HI_OiY8KO6hCsQSoAPmtMYeVvpCNOw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Staatliches Regular'), local('Staatliches-Regular'), url(https://fonts.gstatic.com/s/staatliches/v3/HI_OiY8KO6hCsQSoAPmtMYebvpA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* dropdown content */
.dropdown-content {
	top: 64px !important;
	margin: 0;
	min-width: 150px;
	max-height: auto;
	margin-left: -1px;
	overflow: hidden;
	opacity: 0;
	position: absolute;
	white-space: nowrap;
	z-index: 1;
	will-change: width, height;
}
.dropdown-content li {
	padding: 10px !important;
}

/* card */
.card-fab {
	position: relative;
    z-index: 1;
}
.card {
/* 	border-radius:50%; */
	padding:5px;
}
.card-image {
	max-width: 306px;
	max-height: 306px !important;
	margin:auto;
	overflow:hidden;
}
.fixImg {
	width: 306;
	height: 306px;
	object-fit: cover;
}

nav {
	background-color: #ffffff  !important;
	box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}

nav .material-icons{
	color: #000;
}

#searchEvalTxtBox,
#searchExamTxtBox {
	margin: 0;
	border: 1px solid #6B6B6B;
	border-radius: 20px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	padding-right: 0 !important;
}

.compname {
	font-family: 'Staatliches', cursive;
	color: #1e88e5;
	font-size: 20px;
}
#searchTrainee {
	margin: 0;
	border: 1px solid #6B6B6B;
	border-radius: 20px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	padding-right: 0 !important;
}
	
#pagealign {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.container1 {
	margin: 20px 20px 0;
}
#setMeridiemFrom, #setMeridiemTo {
	width:70px !important;
	height: 35px;
	margin-top:11px;
	margin-right: 3px;
	display: inline;
}
span.selectWidth .select2 {
	width:70px !important;
	height: 40px;
	margin-top:21px;
	margin-right: 3px;
}
span.selectMargin .select2 {
	width:70px !important;
	height: 30px;
	margin-top: 16px;
	margin-right: 3px;
	margin-left: 5px;
}
span.selectMarginOnly .select2 {
	margin-top: 5px;
}

.divcard {
	margin-bottom: 15px;
	background-color: #FEFEFE;
	padding: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(169,169,169,0.66);
	-moz-box-shadow: 0px 0px 10px 2px rgba(169,169,169,0.66);
	box-shadow: 0px 0px 10px 2px rgba(169,169,169,0.66);
}
.row{
	margin-bottom: 0;
}

div.mySpan span{
	display: block;
}

/*menu style starts here*/
nav .sidenav-trigger {
	margin: 0;
	padding: 0;
}
.sidenav-fixed {
	z-index: 1;
	margin-top: 64px;
	padding-top: 10px;
	width: 20%;
}
.sidenav li a{
	color: #868E94 !important;
	font-size: 12px !important;
	padding: 0 15px;
}
.sidenav a:hover{
	background-color: #E0F3FD !important;
	color: #4872DA !important;
}
.sidenav li.active {
	background-color: #E0F3FD !important;
	color: #4872DA !important;
	font-weight: bold;
}
/*menu style ends here*/

.card {
	padding: 10px;
	margin: 0 auto;
}
.bttn{
	background-color: #1e88e5 !important;
}
.btn-floating.halfway-fab {
	right: 5px !important;
}
ul.pagination{
	text-align: center;
	padding: 15px 0 0;
	margin:0;
	vertical-align: middle;
}
.pagination li.active a {
	color: #1e88e5;
	background-color: #fff;
} 
.dropdown-content li>span {
	color: #1e1e1e !important;
}
li a.btn {
	color: #fff;
	vertical-align: middle;
	text-transform: capitalize;
}

/*table column size*/
.min {
	width: 12%;
}
.mins {
	width: 10%;
}
.mid {
	width: 20%;
}
.midl {
	width: 25%; 
}
.large {
	width: 50%;
}

td,th {
	padding: 5px;
}

.lblcolor {
	color: #1e1e1e;
}
div.table-wrapper {
  overflow-x: scroll;
  width: 100%;
}
div.table-wrapper table th{
	width: 200px;
  padding: 10px 0 10px;
  background-color: #cccccc;
  text-align: center;
}
div.table-wrapper table{
	width: 100%;
  table-layout: fixed;
}

/*scroll bar*/
::-webkit-scrollbar {
  overflow: auto;
  top: 0;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: #ddd; 
}

::-webkit-scrollbar-track {
  background: #fff; 
}



/*sorting arrow up and down*/
th a.sort-by { 
	padding-right: 18px;
	position: relative;
}
a.sort-by:before,
a.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
a.sort-by:before {
	border-bottom-color: #039be5;
	margin-top: -9px;
}
a.sort-by:after {
	border-top-color: #039be5;
	margin-top: 1px;
}


/*radio button color*/
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
	background-color: #1e88e5;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
	border: 2px solid #1e88e5;
}

/*switch color*/
.switch label input[type=checkbox]:checked+.lever {
	background-color: #76b7ef;
}
.switch label input[type=checkbox]:checked+.lever:after {
	left: 1.5rem;
	background-color: #1e88e5;
}
span.leverMargin {
	margin-top: 15px !important;
}

table thead th, table tbody td {
	text-align: center;
}
table tbody {
	width: auto;
}

h5 {
	color: #1e88e5;
	font-family: 'Staatliches', cursive;
}

/*modal*/
.modal-footer i, div .right button i{
	margin-right: 15px !important;
}
.content-row:last-child {
  border-bottom: none;
}
.modal {
  overflow-y: hidden;
  height: 100vh !important;
}
/* .modal-content {
  height: calc(100vh - 240px) !important;
  max-height: 100vh !important;
  padding: 5px 20px !important;
} */
.modal-header {
  padding:10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
}
.modal-header h5 {
	margin: 0 !important;
}
.modal-footer {
  background-color: #f2f2f2 !important;
}

/*search*/
#search{
	margin: 0;
	border: 1px solid #6B6B6B;
	border-radius: 20px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	padding-right: 0 !important;
}
.nav-wrapper .input-field input[type=search] {
	height: inherit;
    padding-left: 1.8em;
    width: calc(100% - 1.8rem);
    padding-top:3px;
    padding-bottom: 3px;
}

/* [type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
	margin-top: 4px;
} */

#profile {
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.nav-wrapper a.profset {
	height: 64px;
    padding: 7px 15px;
}

.topmargin {
	margin-top:5px;
}

/* nav bar */
.navbar {
	width: 100%;
	background-color: #1e88e5;
 	overflow: auto;
 	padding: 10px 5px 0;
 	margin-bottom: 20px;
 	margin-top:15px;
 	border-radius: 5px !important;
}
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  font-size: 17px;
  width: 11.1%; /* Four links of equal widths */
  text-align: center;
}
.navbar a:hover {
  	background-color: #fff;
	color: #1e1e1e;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.navbar a.active {
	background-color: #fff;
	color: #1e1e1e;
	border-radius: 5px 5px 0 0;
}

/* Media Query */

@media only screen and (min-width: 993px) {
	nav a.sidenav-trigger {
		display: block;
	}
}

@media only screen and (max-width : 1440px) and (min-width: 1400px) {
	.sidenav {
	  width: 19%;
	  margin-top: 0 !important;
	  padding-top: 70px !important;
	}
}

@media only screen and (max-width : 992px) and (min-width: 700px) {
	.container2 {
		padding: 10px;
	}
	#add-location {
		width: 100%;
	}
	/*Material icon*/
	.iconfont {
		font-size: 17px;
	}
	.sidenav {
		width: 35%;
		z-index: 4;
		margin-top: 0 !important;
		padding-top: 70px !important;
	}
	#createusergrpstatus {
		margin-top: 0;
	}
	/**.input-field {
		display: none;
	}**/
	#restable li{
		padding: 20px;
	}
	#restable{
		display: none;
	}
	.sidenav-overlay {
		z-index: 2 !important;
	}
}

@media only screen and (max-width : 700px) and (min-width : 300px){
	.sidenav {
	  width: 70%;
	  z-index: 4;
	  margin-top: 0 !important;
	  padding-top: 70px !important;
	}
	/*Material icon*/
	.iconfont {
		font-size: 17px;
	}
	.container2 {
	   padding: 10px;
	}
	#restable li{
		padding: 20px;
	}
	#restable{
		display: none;
	}
	#createusergrpstatus {
		margin-top: 0;
	}
	/**.input-field {
		display: none;
	}**/
	.card{
		width: 200px;
		height: 200px;
		text-align: center;
		display: inline-block;
	}

	.sidenav-overlay {
		z-index: 2 !important;
	 }
}

@media only screen and (max-width : 600px) {
	h4 {
	  	text-align: center;
	}
	#left-option, #right-option {
		padding-left: 0 ;
	}
}

@media only screen and (max-width : 1019px) and (min-width: 1000px) {
	.sidenav {
		width: 28%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:136px;
		max-height: 136px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 136px;
		height: 136px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1070px) and (min-width: 1020px) {
	.sidenav {
		width: 27%;
	}
	.container2 {
		padding-left: 303px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:148px;
		max-height: 148px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 148px;
		height: 148px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1100px) and (min-width: 1071px) {
	.sidenav {
		width: 27%;
	}
	.container2 {
		padding-left: 309px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:154px;
		max-height: 154px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 154px;
		height: 154px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1120px) and (min-width: 1101px) {
	.sidenav {
		width: 25%;
	}
	.container2 {
		padding-left: 305px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:160px;
		max-height: 160px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 160px;
		height: 160px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1150px) and (min-width: 1121px) {
	.sidenav {
		width: 25%;
	}
	.container2 {
		padding-left: 310px;
	}
}

@media only screen and (max-width : 1199px) and (min-width: 1151px) {
	.sidenav {
		width: 25%;
	}
	.container2 {
		padding-left: 313px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:177px;
		max-height: 177px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 177px;
		height: 177px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1220px) and (min-width: 1200px) {
	.sidenav {
		width: 23%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:185px;
		max-height: 185px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 185px;
		height: 185px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1250px) and (min-width: 1221px) {
	.sidenav {
		width: 22%;
	}
	.container2 {
		padding-left: 295px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:194px;
		max-height: 194px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 194px;
		height: 194px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1299px) and (min-width: 1251px) {
	.sidenav {
		width: 22%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:205px;
		max-height: 205px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 205px;
		height: 205px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1320px) and (min-width: 1300px) {
	.sidenav {
		width: 22%;
	}
	.container2 {
		padding-left: 310px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:203px;
		max-height: 203px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 203px;
		height: 203px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1500px) and (min-width: 1441px) {
	.sidenav {
		width: 19%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:300px;
		max-height: 300px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 300px;
		height: 300px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1530px) and (min-width: 1501px) {
	.sidenav {
		width: 18%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:300px;
		max-height: 300px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 300px;
		height: 300px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1599px) and (min-width: 1531px) {
	.sidenav {
		width: 18%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:300px;
		max-height: 300px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 300px;
		height: 300px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1697px) and (min-width: 1600px) {
	.sidenav {
		width: 17%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:300px;
		max-height: 300px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 300px;
		height: 300px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1709px) and (min-width: 1698px) {
	.sidenav {
		width: 16%;
	}
	.container2 {
		padding-left: 295px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:300px;
		max-height: 300px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 300px;
		height: 300px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1797px) and (min-width: 1710px) {
	.sidenav {
		width: 16%;
	}
	.container2 {
		padding-left: 305px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:300px;
		max-height: 300px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 300px;
		height: 300px;
		overflow: hidden;
		object-fit: cover;
	}
}

@media only screen and (max-width : 1810px) and (min-width: 1798px) {
	.sidenav {
		width: 15%;
	}
	.container2 {
		padding-left: 290px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:345px;
		max-height: 345px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 345px;
		height: 345px;
		overflow: hidden;
		object-fit: cover;
	}
}
@media only screen and (max-width : 1899px) and (min-width: 1811px) {
	.sidenav {
		width: 14%;
	}
	.container2 {
		padding-left: 290px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:365px;
		max-height: 365px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 365px;
		height: 365px;
		overflow: hidden;
		object-fit: cover;
	}
}
@media only screen and (max-width : 1920px) and (min-width: 1900px) {
	.sidenav {
		width: 14%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:370px;
		max-height: 370px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 370px;
		height: 370px;
		overflow: hidden;
		object-fit: cover;
	}
}
@media only screen and (max-width : 1999px) and (min-width: 1921px) {
	.sidenav {
		width: 14%;
	}
	.container2 {
		padding-left: 300px;
	}
	.card {
	/* 	border-radius:50%; */
		padding:5px;
	}
	.card-image {
	/* 	border-radius:50%; */
		max-width:370px;
		max-height: 370px !important;
		margin: auto;
		overflow:hidden;
	}
	.fixImg {
		width: 370px;
		height: 370px;
		overflow: hidden;
		object-fit: cover;
	}
}